@media (max-width:1700px) {
    .pad-90{
        padding: 3rem 0rem;
    }
    h1, h2 {
        font-size: 36px;
        line-height: 54px;
    }
    p {
        font-size: 16px;
    }
    .navbar {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .enquiry-form{
        top: 12%;
    }
    .matrix-vertical{
        right: 0%;
    }
    
    /* banner  */
    .glass-box img{
        opacity: 0.5;
    }
    .bottom-star{
        display: none;
    }
    .image-top img, .dot-icon img {
        width: 240px;
    }
    .image-top img{
        width: 340px;
    }
    .slider-text {
        max-width: 100%;
    }
    .slider-text svg{
        width: 100px;
    }
    .dot-icon {
        position: absolute;
        top: 120px;
        left: 50px;
    }
    .glass-box{
        top: 0px;
    }
    .top-star {
        right: 260px;
        bottom: 50px;
    }
    .slider-section{
        padding: 9rem 0px 9rem;
    }
    .top-star img, .bottom-star img {
        width: 70px;
    }
    .slider-text h1 {
        font-size: 48px;
        line-height: 72px;
    }
    .slider-text h1 .sub-text {
        font-size: 38px;
    }
    .slider-section p {
        font-size: 18px;
        margin-top: 22px;
        margin-bottom: 23px;
        max-width: 60%;
        margin: 30px auto;
    }
    .image-bottom {
        left: -80px;
        bottom: 40px;
        right: auto;
        top: auto;
    }
    .image-bottom img{
        width: 450px;
    }
    .dot-icon-2 {
        right: 128px;
        bottom: 40px;
    }
    .dot-icon-2 img {
        width: 150px;
    }

    /* Launch Your eCommerce Storse */
    .how-to-work-sec img{
        max-width: 70%;
    }
    .bg-bottom-se{
        left: -150px;
    }
    .bg-right-se{
        right: -130px;
    }


    /* ZetupStore Features */
                            
    .features-main-inner .video-container, .features-main-inner #myVideo{
        height: 78vh;
    }
    .img.main-img2 img:nth-of-type(1) {
        left: 0px;
        width: 90%;
    }
    .img.main-img2 .img-body{
        width: 90%;

    }
    section.features-list-inner.pad-90.pt-0{
        padding-bottom: 0px;
    }
    .features-main-inner.mb-150, .features-main-inner.mb-50{
        margin-bottom: 80px;
    }
.why-choose-section{
    padding:4vw  4.7vw;
}
/* Why Choose ZetupStore?  */

.why-choose-section .card.card-features {
    border-radius: 30px;
    padding: 20px;
    min-height: 540px;
}
.why-choose-section .card.card-features img {
    height: 200px;
}
.why-choose-section .card.card-features h4 {
    font-size: 22px;
    margin-top: 1.5rem;
    padding-right: 0px;
    line-height: 30px;
}
.why-choose-section .card.card-features{
    min-height: 450px;
}
.why-choose-section .card.card-features.last-card .last-card-text{
    padding: 20px;
}
.why-choose-section.section-second{
    padding-bottom: 3rem;
}
.testimonials-global{
    padding: 4rem 0px;
    overflow: hidden;
}
.footer-link a{
    font-size: 14px;
}
.footer-logo img {
    max-width: 140px;
}
.footer .footer-social svg {
    width: 24px;
}
.contact-icon{
    width: 30px;
    height: 30px;
}

.how-to-work-sec .section-second-shape{
    left: 70px;
}
.how-to-work-sec .section-second-shape-1 {
    bottom: 640px;
    right: 40px;
    top: auto;
}

.section_cta-video {
    height: 470px;
    width: 80%;
    margin: 0 auto;
}

}


@media (max-width:1550px) {
    .pad-90{
        padding: 3rem 0rem;
    }
    h1, h2 {
        font-size: 36px;
        line-height: 54px;
    }
    p {
        font-size: 16px;
    }
    .navbar {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .enquiry-form{
        top: 12%;
    }
    .matrix-vertical{
        right: 0%;
    }
    
    /* banner  */
    .glass-box img{
        opacity: 0.5;
    }
    .image-top img, .dot-icon img {
        width: 320px;
    }
    .slider-text {
        max-width: 100%;
    }
    .slider-text svg{
        width: 100px;
    }
    .dot-icon {
        position: absolute;
        top: 120px;
        left: 10px;
    }
    .glass-box{
        top: 0px;
    }
   
    .top-star {
        right: 250px;
        bottom: 40px;
    }
    .slider-section{
        padding: 9rem 0px 9rem;
        overflow: hidden;
        position: relative;
    }
    .image-top{
        right: -50px;
    }
    .top-star img  {
        width: 70px;
    }
    .bottom-star{
        display: block;
        right: 200px;
        bottom: 0px;
    }
    .bottom-star img{
        width: 170px;
    }
    .slider-text h1 {
        font-size: 48px;
        line-height: 72px;
    }
    .slider-text h1 .sub-text {
        font-size: 38px;
    }
    .slider-section p {
        font-size: 18px;
        margin-top: 22px;
        margin-bottom: 23px;
        max-width: 60%;
        margin: 30px auto;
    }
    .image-bottom {
        left: -80px;
        bottom: 40px;
        right: auto;
        top: auto;
    }
    .image-bottom img{
        width: 350px;
    }
    .dot-icon-2 {
        right: 128px;
        bottom: 40px;
    }
    .dot-icon-2 img {
        width: 150px;
    }
    .how-to-work-box{
     min-height: 510px;
    }

    /* Launch Your eCommerce Storse */
    .how-to-work-sec img{
        max-width: 70%;
    }
    .bg-bottom-se{
        left: -150px;
    }
    .bg-right-se{
        right: -130px;
    }


    /* ZetupStore Features */
                            
    .features-main-inner .video-container, .features-main-inner #myVideo{
        height: 70vh;
    }
    .img.main-img2 img:nth-of-type(1) {
        left: 0px;
        width: 90%;
    }
    .img.main-img2 .img-body{
        width: 90%;

    }
    .features-main-inner.mb-150, .features-main-inner.mb-50{
        margin-bottom: 80px;
    }
.why-choose-section{
    padding:4vw  4.7vw;
}
/* Why Choose ZetupStore?  */
.why-choose-section .heading-sec-container{
    margin-bottom: 2rem;
}
.why-choose-section .card.card-features {
    border-radius: 30px;
    padding: 20px;
min-height: 425px;
}
.why-choose-section .card.card-features img {
    height: 200px;
}
.why-choose-section .card.card-features h4 {
    font-size: 22px;
    margin-top: 1.5rem;
    padding-right: 0px;
    line-height: 30px;
}

.why-choose-section .card.card-features.last-card .last-card-text{
    padding: 20px;
}
.why-choose-section.section-second{
    padding-bottom: 3rem;
}
.testimonials-global{
    padding: 4rem 0px;
    overflow: hidden;
}
.footer-link a{
    font-size: 14px;
}
.footer-logo img {
    max-width: 140px;
}
.footer .footer-social svg {
    width: 24px;
}
.contact-icon{
    width: 30px;
    height: 30px;
}


}

@media screen and (max-width: 992px) and (min-width: 768px) {
    h1, h2 {
        font-size: 26px;
        line-height: 36px;
    }      
    /* .heading-sec-container{
        max-width: 90%;
    }   */
/* Header sec */
    .dot-icon-2, .dot-icon{
 display: none;   
}
.top-star {
    left: 60px;
}
.slider-section {
    padding: 7rem 0px 5rem;
}
.section_privacy{
    padding: 30px 0px;
}
.slider-section p {
    font-size: 16px;
    margin: 20px 0px;
    max-width: 100%;
    margin: 20px auto;
}
.glass-box, .image-top, .image-bottom {
 display: none;
}
/* Hero Sec */
.slider-section {
    overflow: hidden;
}
.slider-text h1 {
    font-size: 36px;
    line-height: 42px;
}
.slider-text h1 .sub-text {
    font-size: 28px;
}

.image-top img, .dot-icon img {
    width: 130px;
}
.image-bottom img {
    width: 200px;
}
.bottom-star{
    display: none;
}
.slide-btn .btn{
    height: 46px;
    font-size: 16px;
    padding: 0 44px;
    line-height: 46px;
}
/* end */
/* Launch Your eCommerce Storse */
.how-to-work-box{
    padding: 20px;
    min-height: 490px;
    margin-top: 20px;
}
.how-to-work-box h3 {
    font-size: 24px;
}
.how-to-work-box p{
    max-width: 100%;
}
.how-to-work-sec img{
    max-width: 100%;
}
.bg-bottom-se {
    left: 0px;
}
.bg-right-se {
    right: 0px;
}
.how-to-work-box.last-box{
    justify-content: start;
}
.how-to-work-box.last-box p{
    text-align: center;
}
.launch-store .btn{
    font-size: 16px;
}

/* ZetupStore Features */
.features-main-inner .video-container, .features-main-inner #myVideo {
    height: 50vh;
    transform: translate(0%, 0%);
    border-radius:20px;
}
.features-main-inner .row {
    gap: 20px;
}
.features-main-inner .video-container {
    width: 90vw;
}
.features-main-inner #myVideo {
    width: 90vw;
}
.why-choose-section.section-second p{
    margin-top: 15px;
}
.img.main-img2 img:nth-of-type(1){
    width: 80%;
}
.img.main-img2 .img-body {
    width: 86%;
}
/* Why Choose ZetupStore?  */
.why-choose-section .card-bg-3, .why-choose-section .card-bg-4 {
    margin-top: 20px;
}
/* Get Started Free - Upgrade Anytime */
.section_cta .heading-style-h2 {
    font-size: 26px;
}
.section_cta-bg{
    padding-top: 2rem;
    padding-bottom: 4rem;
}

.section_cta-video {
    height: 340px;
    width: 100%;
}
.customer-support video {
    width: 50%;
    margin: 0 auto;
}
.call-action-img .rotate-text {
    font-size: 30px;
    line-height: 40px;
}
/* Footer */

.contact-sec{
    margin-bottom: 20px;
}


}



/* Responsive styles */
@media (max-width: 768px) {

    .navbar-expand-lg .navbar-nav{
        align-items:self-start;
}
    .landing-page {
        padding: 1rem;
    }
.about-stats-left-wrap{
    margin-right:0px;
}
.about-us {
    padding: 140px 0 70px;
}
.about-stats-right-wrap, .about-stats-left-wrap{
  max-width: 100%;
}
    .hero-section {
        padding: 2rem 1rem;
        margin: -1rem -1rem 2rem -1rem;
    }

    .hero-content h1 {
        font-size: 2.5rem;
    }

    .hero-subtitle {
        font-size: 1.25rem;
    }

    .hero-description {
        font-size: 1rem;
    }

    .cta-section {
        padding: 2rem 1rem;
        margin: 2rem -1rem -1rem -1rem;
    }

    .why-choose-section,
    .launch-steps-section,
    .features-section,
    .testimonials-section {
        padding: 2rem 1rem;
    }

    .section-description {
        font-size: 1rem;
    }
    /* about page */
    .about-us .about-hero-img{
        display: none;
    }
    .pricing-table{
        width: 100vw;
    }
    .table-responsive{
        overflow-x: scroll;
    }
    .call-action-img .rotate-text span{
            font-size: 28px;
    }
    /* migration pages */
    .migration-list {
       height: auto;
       margin-bottom: 15px;
    }
    .accordion-item{
        transform: translateX(0px);
    }
    .process-steps {
        gap: 10px;
        align-items: center;
    }
    .text-content h3{        
    font-size: 22px;
    }
    .last-feature-card{
        margin-top: 20px;
    }
}
@media (max-width:767px) {
    .pt-90 {
        padding-top: 30px;
    }
    .navbar-toggler {
        border: none;
        outline: none !important;
        box-shadow: none !important;
    }
    .navbar-expand-lg .navbar-collapse {
       transition: all ease 0.4s;
        position: absolute;
        left: 0;
        top: 70px;
        right: 0;
        background: #fff;
        z-index: 9999999;
        border-radius: 10px;
    }
    .navbar-expand-lg .navbar-nav{
        padding: 40px;
    }
    p {
        font-size: 16px;
    }
    .pad-90 {
        padding: 40px 0px;
    }
    .margin-right-auto {
        margin-right: auto;
    }
    h1 {
        font-size: 32px;
        line-height: 44px;
    }

    h1, h2 {
        font-size: 27px;
        line-height: 32px;
    }
    .bg-tr {
        width: 4px;
    }
    .manage-icon {
        display: none;
    }

    .line {
        margin: auto;
        margin-top: 25px;

    }

    .text-end {
        text-align: center !important;
    }

   .section_privacy{
    padding: 30px 0px;
}
.faq-hero .about-hero-img{
    display: none;
}
    .support-section {
        margin-top: 37px;
    }
    
    .support-icon {
        width: 52px;
        height: 52px;
        border-radius: 4px;
    }
    .support-icon img {
        width: 30px;
    }
    .sup-line {
        display: none;
    }

    .support-main {
        margin-bottom: 10px;
    }

    .ml-20 {
        margin-left: 10px;
    }

    .slide-img {
        margin-top: 40px;
    }

    .slider-section {
        text-align: center;
        padding: 33px 0px 50px;
    }

    .support-content {
        font-size: 16px;
        text-align: left;
    }

    .btn {
        height: 42px;
        padding: 0 16px;
        line-height: 41px;
        font-size: 14px;
    }
    .marketplace-section:nth-child(3) .row{
        flex-direction: column-reverse;
    }
    .workflow-second {
        flex-wrap: wrap;
    }
    .workflow-content {
        margin-left: 0;
        text-align: center;
        margin-top: 23px;
    }
    .workflow-content h4{
        font-size: 19px;
    }
    .about-us {
        padding:50px 0;
    }
    .price-container{
        height: auto;
        margin-bottom: 30px;
    }
    .shape-triangle {
        width: 80px;
    }
    .bottom-star{
        display: none;
    }
    .shape-circle {
        width: 60px;
        height: 60px;
        right: -25px;
    
    }
    .about-stats-right-wrap,
    .about-stats-left-wrap {
        max-width: 100%;
    }
    .stats-card {
        width: calc(50% - 5px);
        padding: 30px 20px;
        margin-top: 17px;
    }
    .heading-sec-container p{
        padding: 0 10px;
    }
    .about-stats-main-wrap p{
        margin-bottom: 0;
    }
    .support-stage-wrap{
        padding: 20px 0px;
    }
    .support-stage-wrap:nth-child(2) .row{
        flex-direction: column-reverse;
    }
    .contactinfo-item{
        margin-top: 40px;
    }
    .demo-left-cnt {
    
        display: none;
    }
    .mb-30 {
        margin-bottom: 19px;
    }
    .enquiry-form.active {
        bottom: 80px;
        top: auto;
    }
    .enquiry-form-container {
        padding: 18px 40px;
        max-width: 100%;
        border-radius: 0px;
    }
    .enquiry-form .btn.enquiry-btn {
        width: 61px;
        border-radius: 30px;
        height: 61px;
        position: fixed;
        bottom: 10px;
        right: 20px;
        z-index: 999;
    }
    .enquiry-form {
        top: auto;
        bottom: calc(100vh - 300%);
        left: 0;
    }
    .rectangle-small{
        display: none;
    }
    .matrix-vertical{
        top: 20px;
        right: 20%;
    }
    .matrix-vertical img{
    width: 50%;
    }
    .marketplace-section{
    text-align: center;
    }
    .marketplace-section h4{
        padding-top: 2rem;
    }
    .slider-section {
        padding: 8rem 0px 80px;
    }
}



@media (max-width:576px) {
    /* Home page  */
    h3 {
        font-size: 24px;
    }
    .banner-ani{
        top:18%;
    }

    .navbar-expand-lg .navbar-nav {
        padding: 15px;
        align-items:flex-start;
    }
    .navbar-expand-lg .navbar-collapse{
        top: 58px;
        border-radius: 0px;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        font-size: 16px;
        padding: 4px 15px;
        line-height: 28px;
    }
    .navbar-expand-lg .navbar-nav li {
        margin-bottom: 8px;
    }
    .navbar-brand img, .footer-logo img {
        max-width: 120px;
    }

    .shape-circle {
        right: -35px;
        top: 80%;
    }
    .slider-section {
        padding: 5rem 0px 80px;
    }
    .features-card-box {
        margin-top: 20px;
    }
    .features-icon {
        padding-bottom: 0.8rem;
    }
    .pad-90 {
        padding: 30px 10px;
    }
    .e-card{
        height: 240px;
    }
    .components-section{
        padding: 30px 0px;
    }
    .infotop{
        top: 0.5em;
    }
    .features-icon img, .features-icon svg {
        height: 70px;
    }
    .section-second-shape{
        display: none;
    }
    .pricing-table-section {
    padding: 1vw;
}
.pricing-table, .pricing-header.sticky {
        width: 190vw;
    }
      .pricing-header.sticky {
        position: relative;
        top: 0px;
    }
    .pricing-table > div{
height: auto !important;
    }
    
    .plan-price {
        font-size: 1rem;
    }
    .pricing-table .row .col strong {
    line-height: 24px;
}
.pricing-table .row .col strong {
    line-height: 24px;
    font-size: 14px;
    font-weight: 500;
}
.contactinfo-item .icon-box svg{
        max-height: 42px;
}
.col-md-6.pr-0, .col-md-6.pl-0 {
    padding: 0px !important;
}
.icon-box-cont h4{
    font-size: 20px;
}
.contactinfo-section .contact-form-style-03 input, .contactinfo-section .contact-form-style-03 textarea {
padding-left: 0px;
}
    .footer {
        padding-top: 30px;
    }
    .footer-link li {
        margin-bottom: 8px;
    }

    .footer-content {
        padding-right: 0px;
    }

    .footer-heading {
        margin-bottom: 10px;
    }

    /* About page  */
    .about-us .banner-ani{
        top: 80%;
    }
    .about-us {
        padding-top: 5rem;
    }
    .about-stats-left-wrap{
        margin: 0px;
    }
    .about-stats-sec{
        text-align: center;
    }
    .support-stage-txt-wrap h3 {
        font-size: 22px;
    }
    .support-stage-wrap {
        padding: 15px;
    }
    .about-wrap h2{
     margin-top: 15px;   
    }
    .features-list-inner .img.main-img1 img.lg-circle{
        width: 40%;
    }
    .features-list-inner .img.main-img1 img.sm-circle{
        display: none;
    }
    .features-list-inner .img.main-img1 .img-body{
        width: 100%;
    }
    .features-list-inner .img img{
        width: 100%;
    }
    .features-main-inner.mb-150, .features-main-inner.mb-50 {
        margin-bottom: 40px;
    }
    .section-head h2{
        margin-top: 1rem;
        font-size: 22px;
    }
    .features-list-inner p{
        line-height: 1.6;
    }
    /* .about-us .about-hero-img{
        display: none;
    } */


    .about-us {
                text-align: center;
    }
    .about-wrap{
        padding: 0px 10px;
    }
    .zetupstore-stage-wrap{
        padding: 10px;
    }
    .stats-card h2{
        font-size: 24px;
        margin-bottom: 0px;
    }
    
  
    /* Contact Us page     */

    .contactinfo-section{
        padding: 30px 0px;
    }
    .contactinfo-item {
        margin-top: 0px;
        padding: 20px 15px;
    }
    .bar {
        width: 120px;
        height: 5.5px;
        right: 10px;
        bottom: 0%;
    }
    .ball {
        position: relative;
        bottom: 30px;
        width: 30px;
        height: 30px;
    }
    .ball::after {
        top: 10px;
        right: 10px;
        width: 5px;
        height: 5px;
    }

    /* Price page */
    .banter-loader {
        right: 10%;
        top: auto;
        bottom: 2%;
    }
    .banter-loader__box{
        width: 10px;
        height: 10px;
    }

    /* New Css */

    h1, h2 {
        font-size: 22px;
        line-height: 32px;
    }   
    /* p{
        font-size: 14px !important;
    }    */
    /* .heading-sec-container{
        max-width: 90%;
    }   */
    .heading-sec-container{
        text-align: center;
    }
    .heading-line{
        margin: 0px auto !important;
    }
/* Header sec */

.btn {
    line-height: 36px;
}
#loading img {
    width: 120px;
}

h1.secondary-color span {
    display: block;
}
.slider-text svg {
    width: 50px;
}
.bubble{
    width: 2em;
    height: 2em;
}
.top-star{
    display: none;
}
    .dot-icon-2, .dot-icon{
 display: none;   
}
.top-star {
    left: 60px;
}
.slider-section {
    padding: 6rem 0px 5rem;
}
.slider-section p {
    max-width: 90%;
    margin: 20px auto;
    margin-bottom: 25px;
}

/* Hero Sec */
.slider-section {
    overflow: hidden;
}
.slider-text h1 {
    font-size: 36px;
    line-height: 42px;
    font-weight: 500;
    margin: 0 auto;
}
.bg-line-main{
    z-index: 9;
}
.slider-text h1 .sub-text {
    font-size: 22px;
    margin-top: 10px;
}
.image-top {
    right: -60px;
    top: 80px;
    display: none;
}
.image-top img, .dot-icon img {
    width: 110px;
}
.image-bottom {
    left: -160px;
    display: none;
}
.image-bottom img {
    width: 130px;
}
.slide-btn .btn{
    height: 46px;
    font-size: 14px;
    padding: 0 44px;
    line-height: 40px;
}
/* end */
.bg-bottom-se, .bg-right-se, .bg-bottom-last {
    transform: scale(1.2);
}
.bg-right-se {
    right: -50px;
    bottom: -30px;
}
.bg-bottom-last {
    bottom: -10px;
    margin-top: 20px;
}

/* Launch Your eCommerce Storse */

.heading-sec-container p{
    padding: 10px 10px;
    padding-bottom: 0px;
    margin-top: 15px;
}
.how-to-work-box{
    padding: 20px;
    min-height: auto;
    margin-top: 20px;
    text-align: center;
    align-items: center;
}
.how-to-work-box h3 {
    font-size: 22px;
}
.top-content{
    width: auto;
}
.bg-bottom-se{
    bottom: -30px;
}
.how-to-work-box p{
    max-width: 100%;
}
.how-to-work-sec img{
    max-width: 100%;
}
.bg-bottom-se {
    left: 0px;
}
.bg-right-se {
    right: 0px;
}
.how-to-work-box.last-box{
    justify-content: start;
}
.how-to-work-box.last-box p{
    text-align: center;
}
.launch-store .btn {
    font-size: 14px;
    padding: 0 26px;
}
.launch-store{
    margin-top: 30px;
}
/* ZetupStore Features */
.why-zetupstore-section table tr td{
font-size: 14px;
}
.timeline-item{
    padding: 20px;
    margin-bottom: 10px;
}
.feature-card-large{
    padding: 20px;
}
.feature-card-large .card-content, .transition-card-large .card-content{
    align-items: center;
}
.transition-card{
    text-align: center;
}
.transition-card .icon-box{
    margin: 10px auto;
    margin-bottom: 20px;
}
.step-number {
    width: 50px;
    height: 50px;
    font-size: 18px;
}
.text-content h3, .step-content h3 {
        font-size: 20px;
}
.faqs-section .accordion-item button {
    font-size: 14px;
    line-height: 24px;
    padding: 10px;
}
.contact-form-card, .contact-form-wrapper {
    padding: 20px;
}
.why-choose-section{
    padding: 0vw 10px;
}
.features-main-inner .video-container, .features-main-inner #myVideo {
    height: 37vh;
    transform: translate(0%, 0%);
    border-radius: 10px;
}
.why-choose-section .heading-sec-container{
    margin-bottom: 2rem;
}
.features-main-inner .row {
    gap: 10px;
}
.why-zetupstore-section .feature-card{
    padding: 20px;
    height: auto;
    margin-top: 0px;
}
.features-main-inner .video-container {
    width: 100%;
}
.features-main-inner #myVideo {
    width: 100%;
}
.why-choose-section.section-second p{
    margin-top: 15px;
    padding: 10px 0px;
}
.img.main-img2 img:nth-of-type(1){
    width: 100%;
}
.img.main-img2 .img-body {
    width: 100%;
}
section.features-list-inner.pad-90.pt-0 {
    padding-bottom: 0px;
}
.why-choose-section .card.card-features img{
    height: auto;
}

/* Why Choose ZetupStore?  */
.why-choose-section .card-bg-3, .why-choose-section .card-bg-4 {
    margin-top: 20px;
}

.why-choose-section.section-second {
    padding-top: 2.5rem;
    border-top: 1px solid #eeee;
    padding-bottom: 2rem;
    margin-bottom: 0px;
}
.section-second.hero-just-bottom{
    padding-top: 4.5rem;

}
/* .why-choose-section.section-second{
    padding-top: 1.5rem;
    border-top: 1px solid #eeee;
} */

.main-marq .box .item h4 {
    line-height: 0;
    font-size: 16px;
}
.main-marq .box .item h4 .icon{
    margin-bottom: -10px; 
}
.section-second-shape-1{
    display: none;
}

.testimonials_card-main{
    transform: translate3d(0px, 0px, 0px) !important;
}


/* Get Started Free - Upgrade Anytime */
.section_cta .heading-style-h2 {
    font-size: 26px;
}
.why-choose-section .card.card-features {
    min-height: auto;
    margin-bottom: 20px;
    margin-top: 0px;
}
.section_cta-bg{
    padding-top: 2rem;
    padding-bottom: 4rem;
}
.section_cta {
    padding: 2rem 0rem;
}
    .section_cta-video video {
        transform: scale(1.65);
        position: relative;
        left: 16px;
    }
.section_cta-video {
    height: 250px;
    width: 100%;
    margin: 0 auto;
    border-radius: 10px;
}
/* testimonials global */
.testimonials-global {
    padding: 30px 0px;
}
.call-action-img .rotate-text {
    font-size: 20px;
}
.btn-whatsapp-pulse{
    bottom:95px;
}
.ontop .btn {
    line-height: 32px;
    margin-top: 5px;
}
.call-action-img {
    padding: 15px 0px;
}
.ontop .col-11 {
    justify-content: space-between;
    display: inline-block !important;
    text-align: center;
    width: 100%;
}

.customer-support video {
    width: 80%;
}
.btn-whatsapp-pulse {
    bottom: 100px;
    right: 20px;
}
.btn-whatsapp-pulse{
    padding: 28px;
}
.btn-whatsapp-pulse img {
    width: 25px;
}
.testimonials_card-main{
    margin-top: 20px;
}
.call-action-img .rotate-text span {
     font-size: 22px;
        display: block;
    }
.customer-support .heading-gh{
    text-align: center;
}    
.customer-support .heading-gh p{
    margin-top: 1rem;
}
.customer-support .heading-gh .btn{
    margin-top: 0px;
}
.customer-support.pad-90 {
    padding-bottom: 0px;
}
/* .enquiry-form .btn.enquiry-btn{
    bottom: 200px;
        right: 80px;
} */


.contactinfo-item .icon-box svg{
        -webkit-filter: grayscale(0);

}





/* Footer */

.contact-sec{
    margin-bottom: 20px;
}
.footer-content {
    font-size: 14px;
}
.footer-heading h5{
font-size: 18px;
}



}




